*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  background-color: hsl(0, 0%, 95%);
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}

a {
  display: inline-block;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background: hsl(0, 0%, 95%);
  margin-top: 5rem;
  border-radius: 50px;
  cursor: pointer;
}

div.text.background-sedan a:hover {
  background: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  border: solid 3px hsl(0, 0%, 95%);
  padding: 1.2rem 3.6rem;
}

div.text.background-suv a:hover {
  background: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  border: solid 3px hsl(0, 0%, 95%);
  padding: 1.2rem 3.6rem;
}

div.text.background-luxury a:hover {
  background: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  border: solid 3px hsl(0, 0%, 95%);
  padding: 1.2rem 3.6rem;
}

div.text.background-sedan a:active {
  background: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  border: solid 3px hsl(0, 0%, 95%);
  padding: 1.2rem 3.6rem;
}

div.text.background-suv a:active {
  background: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  border: solid 3px hsl(0, 0%, 95%);
  padding: 1.2rem 3.6rem;
}

div.text.background-luxury a:active {
  background: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  border: solid 3px hsl(0, 0%, 95%);
  padding: 1.2rem 3.6rem;
}

.text {
  padding: 5.26rem 4.9rem;
}

.background-sedan {
  background: hsl(31, 77%, 52%);
}

.background-suv {
  background: hsl(184, 100%, 22%);
}

.background-luxury {
  background: hsl(179, 100%, 13%);
}

div.text.background-sedan a {
  color: #e28625;
}

div.text.background-suv a {
  color: #006971;
}

div.text.background-luxury a {
  color: #004140;
}

div.text.background-sedan {
  border-radius: 10px 10px 0 0;
}

div.text.background-luxury {
  border-radius: 0 0 10px 10px;
}

@media screen and (min-width: 600px) {
  body {
    display: grid;
    height: 100vh;
    align-items: center;
  }

  .flex {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
  }

  div.text.background-sedan {
    border-radius: 10px 0 0 10px;
  }

  div.text.background-luxury {
    border-radius: 0 10px 10px 0;
  }
}
